/******************************************************************************
fonts (16 18 20 22 24 26 28 36 48)
*******************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext);

/******************************************************************************
main
*******************************************************************************/
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    background-color: #5760EE;
}

.background {
    background-color: #ffffff;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 10px 0;
    color: #002782;
}

.col {
    padding: 0;
}

.main-nav li.active {
    box-shadow: 0 3px 1px 0 #F00723;
}

.main {
    background-color: #E6ECFA;
}

.block {
    position: relative;
    overflow: hidden;
    padding: 50px 10px 10px 10px;
    margin: 0 15px 15px 15px;
    background-color: #fff;
}

.inner-block {
    position: absolute;
    width: 102%;
    top: -3px;
    left: -3px;
}

.holder {
    border: 3px solid #4F6EAE;
    border-radius: 10px;
}

.inner-white-line {
    height: 43px;
    width: 3px;
    position: absolute;
    top: 0;
    left: 1px;
    background: rgb(226,249,255);
}

.background-gradient {
    background: rgb(226,249,255);
    background: -moz-linear-gradient(top,  rgba(226,249,255,1) 0%, rgba(255,255,255,1) 2%, rgba(171,180,255,1) 10%, rgba(236,239,245,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,249,255,1)), color-stop(2%,rgba(255,255,255,1)), color-stop(10%,rgba(171,180,255,1)), color-stop(100%,rgba(236,239,245,1)));
    background: -webkit-linear-gradient(top,  rgba(226,249,255,1) 0%,rgba(255,255,255,1) 2%,rgba(171,180,255,1) 10%,rgba(236,239,245,1) 100%);
    background: -o-linear-gradient(top,  rgba(226,249,255,1) 0%,rgba(255,255,255,1) 2%,rgba(171,180,255,1) 10%,rgba(236,239,245,1) 100%);
    background: -ms-linear-gradient(top,  rgba(226,249,255,1) 0%,rgba(255,255,255,1) 2%,rgba(171,180,255,1) 10%,rgba(236,239,245,1) 100%);
    background: linear-gradient(to bottom,  rgba(226,249,255,1) 0%,rgba(255,255,255,1) 2%,rgba(171,180,255,1) 10%,rgba(236,239,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f9ff', endColorstr='#eceff5',GradientType=0);
}

/******************************************************************************
footer
*******************************************************************************/
#footer {
    padding: 20px 0;
    background: rgb(230,236,250);
    background: -moz-linear-gradient(top,  rgba(230,236,250,1) 0%, rgba(51,102,169,1) 80%, rgba(0,40,131,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,236,250,1)), color-stop(80%,rgba(51,102,169,1)), color-stop(100%,rgba(0,40,131,1)));
    background: -webkit-linear-gradient(top,  rgba(230,236,250,1) 0%,rgba(51,102,169,1) 80%,rgba(0,40,131,1) 100%);
    background: -o-linear-gradient(top,  rgba(230,236,250,1) 0%,rgba(51,102,169,1) 80%,rgba(0,40,131,1) 100%);
    background: -ms-linear-gradient(top,  rgba(230,236,250,1) 0%,rgba(51,102,169,1) 80%,rgba(0,40,131,1) 100%);
    background: linear-gradient(to bottom,  rgba(230,236,250,1) 0%,rgba(51,102,169,1) 80%,rgba(0,40,131,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ecfa', endColorstr='#002883',GradientType=0 );
}

#footer p {
    color: #F00723;
    font-weight: bold;
    text-shadow: #fff 1px 0 0, #fff 0 1px 0, #fff -1px 0 0, #fff 0 -1px 0;
    transition: color 2s;
}

#footer p:hover{
    color: #FFCD00;
}
/******************************************************************************
header
*******************************************************************************/
.header {
    background: #1E51D5 url("../img/misc/flag_lg.png") no-repeat;
    overflow: hidden;
    padding: 0 5px;
}

/******************************************************************************
logo
*******************************************************************************/
.brand {
    display: block;
}

.bottom-logo {
    /*margin: 5px 0;*/
    height: 135px;
    width: 445px;
    background: url("../img/misc/logo_bottom.png") no-repeat center center;
    position: relative;
}

.top-logo {
    height: 135px;
    width: 145px;
    background: url("../img/misc/logo_top.png") no-repeat;
    position: absolute;
}

@media (max-width: 768px) {
    .bottom-logo {
        height: 135px;
        width: 145px;
        background: url("../img/misc/logo_top.png") no-repeat;
        position: relative;
    }

    .top-logo {
        display: none;
    }
}

/******************************************************************************
contacts
*******************************************************************************/
.contacts {
    padding-top: 50px;
}

.phone {
    color: #07307f;
    font-size: 20px;
    font-weight: bold;
    text-shadow: #fff 1px 0 0, #fff 0 1px 0, #fff -1px 0 0, #fff 0 -1px 0;
}

@media (max-width: 980px) {
    .phone {
        font-size: 16px;
    }
}

/******************************************************************************
menu
*******************************************************************************/
@media (min-width: 1170px) {
    #main-navigation {
        padding: 0;
    }
}

.navbar-toggle {
    border-color: #000;
}

.icon-bar {
    background-color: #000;
}

.main-nav {
    font-size: 23px;
    letter-spacing: -1px;
    box-shadow: 0 7px 5px 0 rgba(75, 75, 75, 0.75), 0 -7px 5px 0 rgba(75, 75, 75, 0.75);
}

.main-nav li {
    border: 1px solid #fff;
    background: rgb(0,50,142);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,50,142,1) 0%, rgba(116,181,225,1) 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0%,rgba(0,50,142,1)), color-stop(100%,rgba(116,181,225,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,50,142,1) 0%,rgba(116,181,225,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,50,142,1) 0%,rgba(116,181,225,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,50,142,1) 0%,rgba(116,181,225,1) 100%);
    background: radial-gradient(ellipse at center, rgba(0,50,142,1) 0%,rgba(116,181,225,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00328e', endColorstr='#74b5e1',GradientType=1 );
}

.main-nav li:first-child {
    border-left: none;
}

.main-nav li:last-child {
    border-right: none;
}

/* Чтобы добиться однородного фона при уменьшении размеров окна */
.main-nav li a {
    color: rgba(255,214,0,1);
    padding: 5px 15px;
    /*background: rgb(0,50,142);*/
    /*background: -moz-radial-gradient(center, ellipse cover, rgba(0,50,142,1) 0%, rgba(116,181,225,1) 100%);*/
    /*background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0%,rgba(0,50,142,1)), color-stop(100%,rgba(116,181,225,1)));*/
    /*background: -webkit-radial-gradient(center, ellipse cover, rgba(0,50,142,1) 0%,rgba(116,181,225,1) 100%);*/
    /*background: -o-radial-gradient(center, ellipse cover, rgba(0,50,142,1) 0%,rgba(116,181,225,1) 100%);*/
    /*background: -ms-radial-gradient(center, ellipse cover, rgba(0,50,142,1) 0%,rgba(116,181,225,1) 100%);*/
    /*background: radial-gradient(ellipse at center, rgba(0,50,142,1) 0%,rgba(116,181,225,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00328e', endColorstr='#74b5e1',GradientType=1 );*/
}

.main-nav li a:hover {
    color: rgba(20,40,169,0.8);
    background: rgb(252,203,0);
    background: -moz-radial-gradient(center, ellipse cover, rgba(252,203,0,1) 0%, rgba(255,205,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0%,rgba(252,203,0,1)), color-stop(100%,rgba(255,205,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(252,203,0,1) 0%,rgba(255,205,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(252,203,0,1) 0%,rgba(255,205,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(252,203,0,1) 0%,rgba(255,205,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(252,203,0,1) 0%,rgba(255,205,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fccb00', endColorstr='#ffcd00',GradientType=1 );
}

@media (max-width: 1170px) {
    .main-nav {
        font-size: 22px;
    }

    .main-nav li {
        min-width: 40px;
    }

    .main-nav li a {
        margin: 0;
    }
}

@media (max-width: 992px) {
    .main-nav {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .main-nav {
        font-size: 18px;
    }
}

.menu-gradient {
    height: 23px;
    background: url("../img/misc/bottom_menu_gradient.png") repeat-x;
}

@media (max-width: 1170px) {
    .menu-gradient {
        display: none;
    }
}

/******************************************************************************
carousel
*******************************************************************************/
#slide-carousel {
    margin-right: 15px;
    margin-bottom: 15px;
}

/* Control buttons  */
#slide-carousel .carousel-control {
    background: none;
    color: #fff;
    font-size: 2.3em;
    text-shadow: none;
}

/* Previous button  */
#slide-carousel .carousel-control.left {
    left: -20px;
}

/* Next button  */
#slide-carousel .carousel-control.right {
    right: -20px !important;
}

/* Changes the position of the indicators */
#slide-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0;
}

/* Changes the color of the indicators */
#slide-carousel .carousel-indicators li {
    background: #c0c0c0;
}

#slide-carousel .carousel-indicators .active {
    background: #333333;
}

.carousel-inner .item {
    background-color: #4F6EAE;
}

/* End carousel */

/**
 * MEDIA QUERIES
 */

@media (max-width: 1170px) {
    #slide-carousel {
        margin-left: 15px;
    }

    .item img {
        margin: 0 auto;
    }
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    /*Make the indicators larger for easier clicking with fingers/thumb on mobile*/

    #slide-carousel .carousel-indicators {
        bottom: -20px !important;
    }

    #slide-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0 5px;
        width: 15px;
        height: 15px;
    }

    #slide-carousel .carousel-indicators li.active {
        margin: 0 5px;
        width: 20px;
        height: 20px;
    }
}

/******************************************************************************
check form
*******************************************************************************/
.form {
    max-width: 540px;
}

.check-form {
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #ffffff;
}

.check-form input[type="text"] {
    min-width: 200px;
    margin-right: 5px;
}

/******************************************************************************
main-content
*******************************************************************************/
.main-content {
    margin: 0 15px 15px 0;
    padding: 10px;
    background: #fff;
}

.main-content p, .main-content li {
    font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
}

.main-content h3 {
    text-align: center;
}

.main-content p img {
    display: block;
    margin: 0 auto;
}

@media (max-width: 1170px) {
    .main-content {
        margin-left: 15px;
    }
}

@media (max-width: 768px) {
    .main-content p img,  .main-content h3 img {
        display: none;
    }
}

/******************************************************************************
aside
*******************************************************************************/
.ank-content h4 {
    padding: 5px 0;
}

@media (max-width: 1170px) {
    .ank-content li {
        display: inline-block;
        padding-right: 10px;
    }
}

.docs-content p {
    display: inline-block;
}

.docs-content img {
    max-width: 115px;
}

.vids-content a {
    display: inline-block;
}

.vids-content img {
    max-width: 240px;
    margin-top: 5px;
}
/******************************************************************************
 back to top
*******************************************************************************/
.back-to-top {
    font-size: 26px;
    cursor: pointer;
    position: fixed;
    bottom: 25px;
    right: 35px;
    display: none;
    text-shadow: #fff 1px 0 0, #fff 0 1px 0, #fff -1px 0 0, #fff 0 -1px 0;
}

@media (max-width: 1170px) {
    .back-to-top {
        display: none !important;
    }
}

/******************************************************************************
 email form
*******************************************************************************/
.contact h2 {
    text-align: center;
}

#email-form .form-group {
    margin: 0;
}

#email-form label {
    width: 100%;
}

#email-form textarea {
    min-height: 250px;
    resize: vertical;
}

/******************************************************************************
flash messager
*******************************************************************************/
.flash-messager {
    overflow: hidden;
}

.flash-messager ul {
    width: 400px;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #4F6EAE;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left: 25%;
    margin: auto;
    padding: 10px;
}

.remove {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #F00723;
}

.remove:hover {
    cursor: pointer;
}

/******************************************************************************
error 404
*******************************************************************************/
.error404 .holder {
    background-color: #ffffff;
    min-height: 400px;
    text-align: center;
    padding-top: 150px;
}